services:
  etl:
    build: ./etl
    volumes:
      - ./data:/app/data
      - ./output:/app/output
    container_name: news_etl

  dashboard:
    build: ./dashboard
    ports:
      - "8501:8501"
    volumes:
      - ./dashboard:/app
      - ./data:/app/data
    container_name: news_dashboard
